#main {
    width: 85%;
    margin: 25px auto 0 auto;
}

pre {
  padding: .75rem;
  border: 1px solid #cacaca;
  background-color: #e6e6e6;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #0a0a0a;
}
